<div class="filter">
	<ul>
		<li *ngFor="let t of typeName">
			<button [class.select]="filter.type.includes(t)" (click)="typeClick(t)">{{ t }}</button>
		</li>
		<li>
			<button (click)="typeClick()">all</button>
		</li>
	</ul>
	<ul>
		<li *ngFor="let level of levelRange">
			<button [class.select]="filter.level.includes(level)" (click)="levelClick(level)">{{ level }}</button>
		</li>
		<li>
			<button (click)="levelClick()">all</button>
		</li>
	</ul>
</div>

<table class="tank-list">
	<tr>
		<th (click)="sortClick('name')">name</th>
		<th (click)="sortClick('level')">level</th>
		<th (click)="sortClick('type')">type</th>
		<ng-container *ngFor="let r of rowKey">
			<th (click)="sortClick(r)">{{ r }}</th>
		</ng-container>
		<th></th>
	</tr>
	<ng-container *ngFor="let a of list">
		<tr *ngIf="a.show">
			<td><a routerLink="/item/{{ a.id }}">{{ a.name }}</a></td>
			<td>{{ a.level }}</td>
			<td>{{ a.type }}</td>
			<ng-container *ngFor="let r of rowKey">
				<td class="num">{{ a[r] }}</td>
			</ng-container>
			<td class="num"><a href="http://rank.kongzhong.com/rankweb/wottop.html?vid={{ a.id }}" target="_blank">top 200</a></td>
		</tr>
	</ng-container>
</table>
